body { background-color: darkseagreen; text-align: center;}

h1 {text-align: center; color: crimson;}

h2 {text-align: center; color:green;}

h3 {text-align: center; color: blueviolet;}

p {text-align: center; font-size: 20px;color: darkblue; font-weight: 700;}

label {font-weight:800; font-size: 20px;}